html, body, div, header, p, h1, h2, h3, h4 {
    box-sizing: border-box;
}

a {
    color: blue;
}

body {
    font-size: 13px;
    color: #473729;
    background-color: #d6d2c4;
}

header {
    width: 100%;
    height: 80px;
    margin: 0;
    position: relative;
    background: #413225;
}

main {
    max-width: 740px;
    margin: 0 auto;
    padding: 30px 0 10px 0;
    background-color: white;
}

footer {
    font-size: 0.95em;
    padding: 0 0 30px 0
}

p {
    margin: 0;
}

h1 {
    font-family: calibri, helvetica, arial, sans-serif;
    font-weight: normal;
    font-size: 2em;
    margin: 0px 0 20px;
    color: black;
    text-align: left;
}

h2, .item-label {
    margin: 20px 0 10px 0;
    color: #857260;
    font-size: 1.25em;
    font-family: arial, helvatica, sans-serif;
    letter-spacing: .1px;
}

.no-padding {
    padding: 0 !important;
}

.wrapper {
    width: 100%;
    max-width: 740px;
    padding: 0 20px;
    margin: 0 auto;
}

.units {
    font-weight: bold;
    color: #473729;
    margin: 0 0 0 15px;
}

.left-2-col {
    width: 80px;
}

.right-2-col {
    width: auto;
}

table.menu {
    border: 0px solid #d6d2c4;
}

table.menu td {
    padding: 5px 10px;
}

.single-column {
    text-align: left;
    padding-left: 0px; 
    border: 0;
}

.area {
    width: 100%;
    border-radius: 0;
}

.navigation-bar-button {
    color: #BBBBBB;
}

.navigation-bar-button:hover {
    color: #BBBBBB;
}

.nagivation-description {
    vertical-align : middle;
    text-align: right;
    border: 0;
}

.navigation-button {
    vertical-align: middle;
    width: 50%;
    border: 0;
}

.answer-option {
    vertical-align: top;
    text-align: right;
    width: 12%;
    border: 0;
}

.answer-text {
    vertical-align: top;
    width: 30%;
    border: 0;
}

.btn, input.btn {
    height: 30px;
    padding: 0px 20px;
    border: 0;
    line-height: 1em;
    letter-spacing: 0;
    background-color: #E70822;
    color: white;
    font-family: calibri, helvetica, arial, sans-serif;
    font-weight: 100;
    text-transform: none;
    font-size: 1.25em;
    border-radius: 0;
}

.btn.navigation {
    width: 200px;
    font-weight: bold;
}

.btn:hover, input.btn:hover {
    background-color: #f8485e;
    color: #FFFFFF;
}

.footer-detail-strip {
    height: 60px;
    background: transparent url(../images/Footer.png) -17px -10px repeat-x;
}

@media(max-width: 640px) {

    .nagivation-description {
        display: block;
        width: 100%;
        border: 0;
        text-align: center;
        height: 1.2em;
    }

    .navigation-button {
        display: block;
        width: 100%;
        border: 0;
        text-align: center;
        height: 35px;
    }

    .answer-option {
        display: block;
        width: 100%;
        border: 0;
        text-align: left;
        padding-left: 0px;
    }

    .answer-text {
        display: block;
        width: 100%;
        border: 0;
        text-align: left;
        padding-left: 0px;
        padding-top: 0px;
    }

    footer .footer-text {
        text-align: center;
    }
}
