@model HomeViewModel

<h2>@Model.Title</h2>

<button type="button" onclick="location.href='@Url.Action("Index","Question")'">All questions</button>

<br />

<button type="button" onclick="location.href='@Url.Action("Add","Question")'">Add question</button>






