<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <div class="wrapper">

            <!-- FLOATS LEFT BY DEFAULT CONTAINING THE LOGO -->
            <div class="logo-container">
                <partial name="_LoginPartial" />
            </div>

        </div>
    </header>

    <main>
        <div class="wrapper">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="wrapper no-padding">
            <div class="footer-detail-strip"></div>
            <div class="footer-text" align="right">Copyright &copy; MB</div>
        </div>
    </footer>
    @RenderSection("Scripts", required: false)
</body>
</html>
