@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <table style="width: 100%;">
        <tr>
            <td style="padding: 12px 10px 0px 0px; border: none;">
                <button type="button" id="btnsettings" onclick="location.href='@Url.Action("Index","Home")'">Menu</button>
            </td>
            <td style="padding: 0px 10px 0px 0px; border: none;">
                <form id="logoutform" asp-area="Identity" style="height: 10px;" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home")">
                    <button id="btnlogout" type="submit">Log Out</button>
                </form>
            </td>
            <td style="padding: 0px; border: none;">
                <span style="color: #1EAEDB;">Current User: </span><a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/ChangePassword" title="Manage">@UserManager.GetUserName(User)</a>
            </td>
        </tr>
    </table>
}
else
{
    <table style="width: 100%;">
        <tr>
            <td style="padding: 12px 10px 0px 0px; border: none;">
                <button type="button" id="btnsettings" onclick="location.href='@Url.Action("Index","Home")'">Menu</button>
            </td>
        </tr>
    </table>
}

