@model Unit

<p class="item-label">
    Edit Unit:
</p>

@using (Html.BeginForm("Edit", "Unit", FormMethod.Post))
{
<table style="width: 100%;">
    <tbody>
        <tr>
            <td class="single-column left-2-col">
                @Html.DisplayNameFor(m => m.Name)
            </td>
            <td class="single-column right-2-col">
                @Html.TextAreaFor(m => m.Name, new { @class = "area" })
                @Html.ValidationMessageFor(m => m.Name)
            </td>
        </tr>
        <tr>
            <td colspan="2" class="single-column">
                <input value="Save" id="btnsave" type="submit" class="btn">
            </td>
        </tr>
    </tbody>
</table>

@Html.HiddenFor(model => model.Id)
<div>
    <a asp-action="Index">Back to List</a>
</div>
}